@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quattrocento:wght@400;700&display=swap');

body,html {
    margin: 0;
    min-height: 100%;
}

h1,h2,h3 {
    font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: 'Quattrocento', Georgia, 'Times New Roman', serif;
    font-size: large;
}

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

nav a {
    display: block;
    font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
}

header {
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

header .btn-view {
    color: #2E3740;
}

nav {
    position: absolute;
    background: #000000cb;
    top: 95px;
    left: 0px;
    width: 100%;
}

.header-logo {
    height: 50px;
    flex: -1;
    order: 2;
    padding-right: 200px;
}

.logo-header {
    order: 2;
    margin-left: auto;
}

.logo {
    height: 70px;
}

.text-logo {
    display: inline-block;
}

#welcome h1 {
    font-size: 4em;
    color: #fff;
}
/** Buttons **/

.btn-cta-big {
  background: #ffffff;
  width: 200px;
  color: #000000;
  padding: 20px 40px;
  border: none;
  border-radius: 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}

.btn-cta {
  background: #5cb949;
  color: #ffffff;
  padding: 14px 32px;
  border: none;
  border-radius: 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}

.btn-view {
  background: #b9a849;
  color: #ffffff;
  padding: 14px 32px;
  border: none;
  border-radius: 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
}
/** Main Page **/

#welcome {
    min-height: 70vh;
    background-image: url("../images/hero-cta-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    text-align: center;
}

.btn-view {
  background: #e0e0e0;
  color: #333;
}

.btn-cta {
  background: #2E3740;
  color: white;
}

#product-display h2 {
    text-align: center;
    font-size: 3rem;
}

.product-card img{
  height: 200px;
  width: auto;
  margin: 15px 0;
}

.product-summary {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #94b4d385;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

.product-sellingpoint {
    text-align: center;
    padding: 10px 20px;
    max-width: 400px;
    flex: 1;
    
}

.big-icons {
    color: #2E3740;
}

/** Jacket page **/

#product-display {
    margin: 0 auto;
    padding: 40px 0 50px 0;
    max-width: 80%;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 75px 0px 75px 0px;
}

.product-card {
  max-width: 320px;
  width: 100%;
  padding: 20px 30px 20px 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-button{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
  margin-top: 15px;
}

.page-header {
    text-align: center;
    padding: 40px;
    background-image: url(../images/osman-rana-GXEZuWo5m4I-unsplash.jpg);
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    text-align: center;
    color: #fff;
}

/* Produt Details Page 

#product-detail-view {
  display: grid;
  grid-template-row: 1fr;
  max-width: 55%;
  gap: 2rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  margin-bottom: 100px;
}

.product-view img {
  width: auto 
  height: 375px;
  border-radius: 8px;
}

.image-thumbnails {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.image-thumbnails img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

.product-view .btn-cta {
  margin-top: 20px;
  text-align: center;
}

*/
/** Contact Page **/
.contact-form {
    display: flex;
    flex-direction: column;
}

/** Outlet Page **/

.outlet-card {
    margin: 10px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    padding-top: px;
}

#outlet-products h1 {
    text-align: center;
    font-size: 3rem;
}


/* Contact Page */
.form__input {
    display: block;
}



/** Footer **/
footer {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    justify-items: center;
    text-align: center;
    background-color: #0a345fb2;
    color: #fff;
    gap: 20px;
    
}

footer i {
    padding-right: 1em;
}

footer img {
    max-width: 250px;
}

footer a {
    color:#fff;
    text-decoration: none;
}


/** Media mobile and up **/
@media (max-width: 450px) {

  .header-logo {
    display: none;
  }

  .product-card {
    flex-direction: column;
  }

 
  #welcome {
    color: #fff;

    background-image: url("../images/hero-cta-mobile.jpg");
  }

}

/* Media tablet and up */
@media (min-width: 768px) {

    .logo {
        max-height: 70px;
        display: block;
    }
    .text-logo {
        display: none;
    }

       header {
        justify-content: center;
    }
 
    #welcome {
    background-image: url("../images/compass-4891499_1280.jpg");
    }

    .product-summary{
    flex-direction: row;
    min-width: fit-content;
    justify-content: center;
    }

    
    footer {
    padding-top: 50 px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    }

    .product {
        flex-direction: row;

}

/* Media desktop */
@media (min-width: 1024px) {

    nav {
        display: block;
        position: static;
        background-color: #fff;
    
    }

    nav a {
        color: #333;
        display: inline-block;
    }

    nav a:hover {
    text-decoration: underline;
    }
    

     .hamburger-icon {
        display: none;
    }

     .card {
    padding: 2rem;
    font-size: 1.2rem;
    }

    .btn-cta-big:hover {
        border: #fff;
    }

    footer a:hover {
    text-decoration: underline;
}

}