@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quattrocento:wght@400;700&display=swap');


/** 
Colors:
dark-blue: #2E3740


**/
body,html {
    margin: 0 auto;
    height: 100%;
}

h1,h2,h3 {
    font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: 'Quattrocento', Georgia, 'Times New Roman', serif;
    font-size: large;
}

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

nav a {
    display: block;
    font-family: 'Funnel Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
}

header {
   /** background-color: #2E3740; **/
    width: 100%;
}

nav {
    position: absolute;
    background: #000000;
    top: 70px;
    left: opx;
    width: 100%;
}

.logo {
    height: 65px;
    width: auto;
}

.text-logo {
    display: inline-block;
}

nav a::active {
    text-decoration: underline;
}
/** Main Page **/

#welcome {
    margin: 0 auto;
    height: 70vh;
    background-image: url("/images/brad-barmore_hero_xl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.product-summary {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#product {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: space-around;
    align-items: center;
}

.product-card {
    width: 300px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.product-card img{
    height: 200px;
    width: auto;

}

.product-sellingpoint {
    padding: 10px 20px;
    max-width: 400px;
    flex: 1;
}

.big-icons {
    color: #2E3740;
}

/** Outlet Page **/
#outlet-products {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px 20px;
}

.outlet-card {
    margin: 10px;
    width: 350px;
    background-color: white;'
    border-radius: 10px;
}


/* Contact Page */
.form__input {
    display: block;
}



/** Footer **/
footer {
    margin-top: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


/** Media mobile and up **/
@media (max-width: 767px) {



  .card {
    padding: 1.5rem;
    font-size: 1.1rem;
  }

  .logo {
    display: none;
  }

  .product-card {
    flex-direction: column;
  }

  .product-summary {

  }

  #welcome {
    height: 20vh;
    background-image: url("../images/brad-barmore_hero_small.jpg");
  }

}

/* Media tablet and up */
@media (min-width: 768px) {

    .logo {
        max-height: 70px;
        display: block;
    }
    .text-logo {
        display: none;
    }

    .product-summary{
    flex-direction: row;
    min-width: fit-content;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3em;
    }
}

/* Media desktop */
@media (min-width: 1024px) {

    nav {
        display: block;
        position: static;
        background-color: #fff;
    
    }

    nav a {
        color: #333;
        display: inline-block;
    }

    .hamburger-icon {
        display: none;
    }

  .card {
    padding: 2rem;
    font-size: 1.2rem;
  }
}