@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quattrocento:wght@400;700&display=swap');


/** 
Colors:
dark-blue: #2E3740


**/
body,html {
    margin: 0;
    min-height: 100%;
}

h1,h2,h3 {
    font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: 'Quattrocento', Georgia, 'Times New Roman', serif;
    font-size: large;
}

.page-heading {

}

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

nav a {
    display: block;
    font-family: 'Funnel Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
}

header {
   /** background-color: #2E3740; **/
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
}

nav {
    position: absolute;
    background: #0000009f;
    top: 70px;
    left: 0px;
    width: 100%;
}

.header-logo {
    height: 50px;

}

.text-logo {
    display: inline-block;
}

#welcome h1 {
    font-size: 4em;
    color: #fff;
}
/** Buttons **/

.btn-cta {
  background: linear-gradient(135deg, #2E3740, #1f2a33);
  color: #ffffff;
  padding: 14px 32px;
  border: none;
  border-radius: 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}

.btn-view {
  background: linear-gradient(135deg, #2E3740, #1f2a33);
  color: #ffffff;
  padding: 14px 32px;
  border: none;
  border-radius: 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
}
/** Main Page **/

#welcome {
    min-height: 70vh;
    background-image: url("../images/brad-barmore_hero_xl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    text-align: center;
}

#product-display {
    margin: 0 auto;
    padding: 40px 0 50px 0;
    max-width: 80%;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.product-card {
  max-width: 320px;
  width: 100%;
  padding: 20px 30px 20px 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-button{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
  margin-top: 15px;
}

.btn-view {
  background: #e0e0e0;
  color: #333;
}

.btn-cta {
  background: #2E3740;
  color: white;
}

.product-card img{
  height: 200px;
  width: auto;
  margin: 15px 0;
}

.product-summary {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.product-sellingpoint {
    text-align: center;
    padding: 10px 20px;
    max-width: 400px;
    flex: 1;
    
}

.big-icons {
    color: #2E3740;
}

/** Jackets Page **/


/** Outlet Page **/
#outlet-products {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px 20px;
}

.outlet-card {
    margin: 10px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
}


/* Contact Page */
.form__input {
    display: block;
}



/** Footer **/
footer {
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}


/** Media mobile and up **/
@media (max-width: 767px) {

  .header-logo {
    display: none;
  }

  .product-card {
    flex-direction: column;
  }

  .product-summary {

  }

  #welcome {
    color: #fff;

    background-image: url("../images/hero-cta-mobile.jpg");
  }

}

/* Media tablet and up */
@media (min-width: 768px) {

    .logo {
        max-height: 70px;
        display: block;
    }
    .text-logo {
        display: none;
    }

       header {
        justify-content: center;
    }
 
    .product-summary{
    flex-direction: row;
    min-width: fit-content;
    justify-content: center;
    }
    
    footer {
    padding-top: 100px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    }

    .product {
        flex-direction: row;

}

/* Media desktop */
@media (min-width: 1024px) {

    nav {
        display: block;
        position: static;
        background-color: #fff;
    
    }

    nav a {
        color: #333;
        display: inline-block;
    }

     .hamburger-icon {
        display: none;
    }

  .card {
    padding: 2rem;
    font-size: 1.2rem;
  }


}