
/** Mobile Style **/
body {
    background-color: lightgray;
}
header {
    display:flex
}
.logo {
    max-height: 100px;
    display: inline-block;
}


section img {
    max-height: 200px;
    width: auto;
}







/* Contact Page */
.form__input {
    display: block;
}